@{
    ViewData["Title"] = "Получение статистики";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-12">
        <div id="chartdiv" style="width: 600px; height: 350px;">
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
//google.charts.load('current', { 'packages': ['corechart'] });
//    google.charts.setOnLoadCallback(drawChart);
//    function drawChart() {
//        var jsonData = $.ajax({
//            url: "/Home/OnGetChartData",
//            dataType: "json",
//            async: false
//        }).responseText;
//        var data = new google.visualization.DataTable(jsonData);
//        var options = {
//            'title': 'How Much Pizza I Ate Last Night',
//            'width': 600,
//            'height': 500
//        };

//        var chart = new google.visualization.PieChart(document.getElementById('chart'));
//        chart.draw(data, options);
//    }
google.charts.load('current', { 'packages': ['coreheart'] });
    google.charts.setOnLoadCallback(Drawonload);
    function Drawonload() {
        $(function () {
            $.ajax({
                type: 'GET'
            url: '/Home/GetStatistics',
                success: function (chartsdata) {
                    var Data = chartsdata.jsonList;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'AnswerNumb');
                    data.addColumn('number', 'CountNumb');
                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].answerNumb, Data[i].countNumb]);
                    }
                    var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));
                    chart.draw(data,
                        {
                            title: "Получение статистики",
                            position: "top",
                            fontsize: "14px"
                        });
                },
                error: function () {
                    alert('Error loading data! Please try again')
                }
            });
        })
    }
    </script>
}

@*<script src="~/js/highcharts.js"></script>
    <script src="~/js/exporting.js"></script>
    <form asp-action="GetStatistics" method="get" class="form-inline">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <script>
            $(document).ready(function () {
                $.getJSON("/Home/GetStatistics", function (data) {
                    Highcharts.chart('container', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Статистика выставленных баллов на Вопрос №1 "Соответствуют ли цели курса полученным результатам"'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        accessibility: {
                            point: {
                                valueSuffix: '%'
                            }
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                            }
                        },
                        series: [{
                            name: 'Brands',
                            colorByPoint: true,
                            data: [{
                                name: 'Number 9',
                                y: data.number9
                            }, {
                                name: 'Number 8',
                                y: data.number8
                            }, {
                                name: 'Number 7',
                                y: data.number7
                            }, {
                                name: 'Number 6',
                                y: data.number6
                            }, {
                                name: 'Number 5',
                                y: data.number5
                            }]
                        }]
                    });
                });
            });

        </script>

    </form>*@

