@{
}

<form asp-action="CreateCourseTest" method="get" class="form-inline">
    @*<div class="form-group">
        <label asp-for="Benefits">Льготы</label>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="Benefits" class="form-check-input" type="radio" value="да" />да
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input asp-for="Benefits" class="form-check-input" type="radio" value="нет" />нет
            </label>
        </div>
    </div>*@
</form>
